*, html{
				box-sizing :border-box;
				}
header{
				height:100px;
				}
.bad{
				font-size:50px;
				font-weight: 700;
				word-spacing: 15px;
				line-height: 80px;
				}
.page{
				font-size:20px;
				word-spacing:15px;
				}
.back{
				color: #ffffff;
				background-color: #000000;
				height:50px;
				width:150px;
				margin-top: 40px;
				}
.word{
				margin-left:40px;
				margin-top:0;
				}
.scare{                         width:300px;
                                height:300px;
                                }
.dev{
			text-align: center;	
			margin-top:40px;
				}
.crow{
				display:flex;
				justify-content:center;
				}
@media (max-width: 650px){
			.crow{
							display:flex;
				flex-direction:column;
				}
				.word{
								margin-left:0;
								}
				.scare{
								margin:0 auto;
								}				
}
